## Pivot Tables
The steps here parallel and produce same results as our ArcGISPro examples and running Pivot tables in Excel.

To see the code that generates this reproducible research example see the [GitHub repository](https://github.com/mhweber/UW_GIS_Material/blob/main/PivotTables.qmd). This notebook can be run as a Notebook within ArcPro and used for ‘literate programming’ where you fold you documentation, images, links, etc together with your code steps which can be passed along and re-run by others to produce the exact same results.

## Enrich source GIS layers
### Generate jurisdictional information

- Read in necessary spatial layers from file geodatabase
- Combine the city and UGA layer with the county layer so that we have one dataset that represents all three jurisdictional types

## Using spatially enabled dataframes

- Read more about spatially enabled dataframes [here](https://developers.arcgis.com/python/guide/introduction-to-the-spatially-enabled-dataframe/)
- They add geometry to [pandas](https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://pandas.pydata.org/) dataframes in Python - they are an ESRI branding of [geopandas](https://geopandas.org)

In [41]:
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor
from arcgis.geometry import SpatialReference

We can learn about methods on spatial data frames like this:

In [ ]:
help(pd.DataFrame.spatial.from_featureclass)

### Read each layer into a spatially enabled dataframe in Python

In [64]:
WRIA = pd.DataFrame.spatial.from_featureclass('WRIA', sr=SpatialReference(4326).as_arcpy)
WRIA.head()

   OBJECTID  ...                                              SHAPE
0         1  ...  {"rings": [[[-122.41749579643245, 48.645405677...
1         2  ...  {"rings": [[[-120.85224766453322, 49.000295000...
2         3  ...  {"rings": [[[-120.75138542837956, 48.657128617...
3         4  ...  {"rings": [[[-122.74885829556437, 48.722558501...
4         5  ...  {"rings": [[[-122.5890558775597, 48.6258125803...

[5 rows x 6 columns]

In [43]:
UGA = pd.DataFrame.spatial.from_featureclass('Whatcom_City_UGA', sr=SpatialReference(4326).as_arcpy)
UGA.head()

   OBJECTID  ...                                              SHAPE
0         1  ...  {"rings": [[[-122.77141447139361, 48.991232831...
1         2  ...  {"rings": [[[-122.72962420321178, 48.971056279...
2         3  ...  {"rings": [[[-122.26399132720081, 48.985610476...
3         4  ...  {"rings": [[[-122.26399132720081, 48.985610476...
4         5  ...  {"rings": [[[-122.77088227221428, 48.950687403...

[5 rows x 11 columns]

In [44]:
Fish = pd.DataFrame.spatial.from_featureclass('fish_distribution_whatcom', sr=SpatialReference(4326).as_arcpy)
Fish.head()

   OBJECTID_1  ...                                              SHAPE
0           1  ...  {"paths": [[[-121.65228990461237, 48.721069111...
1           2  ...  {"paths": [[[-121.68200782717946, 48.740809580...
2           3  ...  {"paths": [[[-121.06543769241031, 48.911189771...
3           4  ...  {"paths": [[[-121.06593879264872, 48.772404142...
4           5  ...  {"paths": [[[-121.65885176685435, 48.727434245...

[5 rows x 13 columns]

## Union County and UGA

- first erase part of county with UGA polygons
- keep only fields interested in so field the same in both features
- then combine

In [45]:
arcpy.analysis.Erase(
    in_features="Whatcom_County",
    erase_features="Whatcom_City_UGA",
    out_feature_class=r"C:\Users\mwebe\UW Program\GIS550\Week5\Whatcom_Data_Tables.gdb\Whatcom_County_Erase",
    cluster_tolerance=None
)

In [46]:
arcpy.analysis.Union(
    in_features="Whatcom_County_Erase #;Whatcom_City_UGA #",
    out_feature_class=r"C:\Users\mwebe\UW Program\GIS550\Week5\Whatcom_Data_Tables.gdb\Whatcom_County_Union",
    join_attributes="ALL",
    cluster_tolerance=None,
    gaps="GAPS"
)

In [75]:
Union = pd.DataFrame.spatial.from_featureclass("C:/Users/mwebe/UW Program/GIS550/Week5/Whatcom_Data_Tables.gdb/Whatcom_County_Union", sr=SpatialReference(4326).as_arcpy)
list(Union)

['OBJECTID_1', 'FID_Whatcom_County_Erase', 'OBJECTID', 'JURISDICT_', 'JURISDIC_1', 'JURISDIC_2', 'JURISDIC_3', 'JURISDIC_4', 'JURISDIC_5', 'JURISDIC_6', 'EDIT_DATE', 'EDIT_STATU', 'EDIT_WHO', 'FID_Whatcom_City_UGA', 'CITY_NM', 'UGA_NM', 'UGA_NM2', 'COUNTY_NM', 'GMA', 'FIPS_PLC', 'INCORP', 'ORIGIN', 'DATEMOD', 'SHAPE']

### Clean up fields

In [76]:
Union = Union.rename(columns={"JURISDIC_3": "Jurisdiction"})
Union = Union[["Jurisdiction","CITY_NM","UGA_NM","COUNTY_NM","SHAPE"]]
Union.head()

     Jurisdiction  ...                                              SHAPE
0  Whatcom County  ...  {"rings": [[[-122.757276202806, 49.00208319192...
1                  ...  {"rings": [[[-122.7384683466864, 49.0020875296...
2                  ...  {"rings": [[[-122.73620112522909, 49.002088444...
3                  ...  {"rings": [[[-122.25130964930791, 49.002402619...
4                  ...  {"rings": [[[-122.26399132720081, 48.985610476...

[5 rows x 5 columns]

### Assign Jurisdiction

In [77]:
Union['Jurisdiction'].loc[(Union['Jurisdiction'] == '') & (Union['CITY_NM'] != '')] = Union['CITY_NM']
Union.head()

     Jurisdiction  ...                                              SHAPE
0  Whatcom County  ...  {"rings": [[[-122.757276202806, 49.00208319192...
1          Blaine  ...  {"rings": [[[-122.7384683466864, 49.0020875296...
2                  ...  {"rings": [[[-122.73620112522909, 49.002088444...
3           Sumas  ...  {"rings": [[[-122.25130964930791, 49.002402619...
4                  ...  {"rings": [[[-122.26399132720081, 48.985610476...

[5 rows x 5 columns]

In [78]:
Union['Jurisdiction'].loc[(Union['Jurisdiction'] == '') & (Union['CITY_NM'] == '')] = Union['UGA_NM']
Union.head()

     Jurisdiction  ...                                              SHAPE
0  Whatcom County  ...  {"rings": [[[-122.757276202806, 49.00208319192...
1          Blaine  ...  {"rings": [[[-122.7384683466864, 49.0020875296...
2      Blaine UGA  ...  {"rings": [[[-122.73620112522909, 49.002088444...
3           Sumas  ...  {"rings": [[[-122.25130964930791, 49.002402619...
4       Sumas UGA  ...  {"rings": [[[-122.26399132720081, 48.985610476...

[5 rows x 5 columns]

### Now show unique values for Jurisdiction

In [79]:
Union['Jurisdiction'].unique()

<StringArray>
[     'Whatcom County',              'Blaine',          'Blaine UGA',
               'Sumas',           'Sumas UGA',       'Birch Bay UGA',
 'Columbia Valley UGA',            'Nooksack',        'Nooksack UGA',
    'Cherry Point UGA',          'Bellingham',      'Bellingham UGA',
            'Ferndale',          'Lynden UGA',              'Lynden',
             'Everson',        'Ferndale UGA',         'Everson UGA']
Length: 18, dtype: string

### Spatiallly join WRIA Information

In [80]:
WRIA = WRIA[['WRIA_NM','SHAPE']]
WRIA.head()

                 WRIA_NM                                              SHAPE
0               Nooksack  {"rings": [[[-122.41749579643245, 48.645405677...
1           Upper Skagit  {"rings": [[[-120.85224766453322, 49.000295000...
2                 Methow  {"rings": [[[-120.75138542837956, 48.657128617...
3               San Juan  {"rings": [[[-122.74885829556437, 48.722558501...
4  Lower Skagit - Samish  {"rings": [[[-122.5890558775597, 48.6258125803...

In [94]:
County_UGA_WRIA = Union.spatial.join(WRIA)
County_UGA_WRIA = County_UGA_WRIA[["Jurisdiction","CITY_NM","UGA_NM","COUNTY_NM","WRIA_NM","SHAPE"]]
County_UGA_WRIA.head()

     Jurisdiction  ...                                              SHAPE
0  Whatcom County  ...  {"rings": [[[-122.757276202806, 49.00208319192...
1          Blaine  ...  {"rings": [[[-122.7384683466864, 49.0020875296...
2      Blaine UGA  ...  {"rings": [[[-122.73620112522909, 49.002088444...
3           Sumas  ...  {"rings": [[[-122.25130964930791, 49.002402619...
4       Sumas UGA  ...  {"rings": [[[-122.26399132720081, 48.985610476...

[5 rows x 6 columns]

### Clean up Fish fields

In [82]:
Fish = Fish[["SPECIES", "LLID_STRM_","DISTTYPE_D","USETYPE_DE","SHAPE"]]
Fish.head()

       SPECIES  ...                                              SHAPE
0   Bull Trout  ...  {"paths": [[[-121.65228990461237, 48.721069111...
1  Coho Salmon  ...  {"paths": [[[-121.68200782717946, 48.740809580...
2   Bull Trout  ...  {"paths": [[[-121.06543769241031, 48.911189771...
3   Bull Trout  ...  {"paths": [[[-121.06593879264872, 48.772404142...
4   Bull Trout  ...  {"paths": [[[-121.65885176685435, 48.727434245...

[5 rows x 5 columns]

In [95]:
county_uga_wria_fish = Fish.spatial.join(County_UGA_WRIA)
county_uga_wria_fish.head()

       SPECIES           LLID_STRM_  ... COUNTY_NM   WRIA_NM
0   Bull Trout           Park Creek  ...            Nooksack
1  Coho Salmon           Park Creek  ...            Nooksack
2   Bull Trout  Little Beaver Creek  ...            Nooksack
3   Bull Trout         Pierce Creek  ...            Nooksack
4   Bull Trout           Park Creek  ...            Nooksack

[5 rows x 11 columns]

In [99]:
county_uga_wria_fish['Calc_Miles'] = county_uga_wria_fish.SHAPE.geom.length.multiply(0.000189394)
county_uga_wria_fish.head()

       SPECIES           LLID_STRM_  ...   WRIA_NM Calc_Miles
0   Bull Trout           Park Creek  ...  Nooksack   0.000002
1  Coho Salmon           Park Creek  ...  Nooksack   0.000009
2   Bull Trout  Little Beaver Creek  ...  Nooksack   0.000013
3   Bull Trout         Pierce Creek  ...  Nooksack   0.000002
4   Bull Trout           Park Creek  ...  Nooksack   0.000005

[5 rows x 12 columns]

In [101]:
pivot = county_uga_wria_fish.pivot_table(index=['Jurisdiction','LLID_STRM_','SPECIES'],
                       values=['Calc_Miles'],
                       aggfunc='sum')
print(pivot)

                                                Calc_Miles
Jurisdiction   LLID_STRM_       SPECIES
Bellingham                      Bull Trout        0.000102
                                Chinook Salmon     0.00001
                                Chum Salmon       0.000095
                                Coho Salmon       0.000103
                                Cutthroat Trout   0.000106
...                                                    ...
Whatcom County Wiser Lake Creek Bull Trout        0.000102
                                Chum Salmon       0.000095
                                Coho Salmon       0.000123
                                Cutthroat Trout   0.000128
                                Steelhead Trout   0.000109

[1238 rows x 1 columns]